In [ ]:
'''
Question1:

Write a program to the largest number from the list given below:

listExample1 = [8,9,13,2,3,99,6,7,4,3]

'''

In [1]:
listExample1 = [8,9,13,2,3,99,6,7,4,3]
print(max(listExample1))

99

In [ ]:
'''
Question2:

Write a program to sum all the items from the list given below:

listExample2 = [9,8,7,6,5,4,3]

'''

In [2]:
listExample2 = [9,8,7,6,5,4,3]
print(sum(listExample2))

42

In [ ]:
'''
Question3:

Write a program to remove duplicate values from the list given below:

listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]

'''

In [4]:
listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]
newlist = list(set(listExample3))
newlist

[1, 2, 3, 4, 9, 44]